### TEdenovo config (TEdenovo.cfg)
[repet_env]
repet_version: 3.0
repet_host: localhost
repet_user: orepet
repet_pw: repet_pw
repet_db: repet
repet_port: 3306
repet_job_manager: slurm

[project]
project_name: 
project_dir: /home/centos/

[prepare_batches]
resources:
tmpDir:
chunk_length: 200000
chunk_overlap: 10000
min_nb_seq_per_batch: 5
clean: yes

[self_align]
resources:
tmpDir:
copy: no
blast: ncbi
Evalue: 1e-300
length: 100
identity: 90
filter_HSP: yes
min_Evalue: 1e-300
min_identity: 90
min_length: 100
max_length: 20000
clean: yes

[cluster_HSPs]
resources:
tmpDir:
Grouper_nbGroup: 1
Grouper_coverage: 0.95
Grouper_include: 2
Grouper_maxJoinLength: 30000
minNbSeqPerGroup: 3
nbLongestSeqPerGroup: 20
maxSeqLength: 20000
clean: yes

[structural_search]
resources:
tmpDir:
minLTRSize: 100
maxLTRSize: 1000
minElementSize: 1100
maxElementSize: 16000
LTR_similarity: 90
overlaps_handling: best
clean: yes

[structural_search_clustering]
resources:
tmpDir:
type: blastclust
MCL_inflation: 1.5
MCL_coverage: 0
clean: yes

[build_consensus]
resources:
tmpDir:
minBasesPerSite: 2
clean: yes

[detect_features]
resources:
tmpDir:
term_rep: yes
polyA: yes
tand_rep: yes
orf: yes
blast: ncbi
TE_BLRn: yes
TE_BLRtx: yes
TE_nucl_bank: repbase20.05_ntSeq_cleaned_TE.fsa
TE_BLRx: yes
TE_prot_bank: repbase20.05_aaSeq_cleaned_TE.fsa
TE_HMMER: yes
TE_HMM_profiles: ProfilesBankForREPET_Pfam27.0_GypsyDB.hmm
TE_HMMER_evalue: 10
HG_BLRn: no
HG_nucl_bank: <bank_of_host_genes>
rDNA_BLRn: no
rDNA_bank: <bank_of_rDNA_sequences_from_eukaryota>
tRNA_scan: no
TRFmaxPeriod: 15
RepScout: no
RepScout_bank: <bank_of_RepeatScout>
clean: yes

[classif_consensus]
resources:
tmpDir:
limit_job_nb: 0
max_profiles_evalue: 1e-3
min_TE_profiles_coverage: 20
min_HG_profiles_coverage: 75
max_helitron_extremities_evalue: 1e-3
min_TE_bank_coverage: 5
min_HG_bank_coverage: 95
min_HG_bank_identity: 90
min_rDNA_bank_coverage: 95
min_rDNA_bank_identity: 90
min_SSR_coverage: 75
max_SSR_size: 100
remove_redundancy: yes
min_redundancy_identity: 95
min_redundancy_coverage: 98
rev_complement: yes
add_noCat_bestHitClassif: no
clean: yes

[filter_consensus]
resources:
tmpDir:
filter_SSR: yes
length_SSR: 0
filter_unclassified: yes
filter_unclassified_max_fragments: 10
filter_host_gene: no
filter_confused: no
filter_rDNA: no
clean: yes

[cluster_consensus]
resources:
tmpDir:
Blastclust_identity: 0
Blastclust_coverage: 80
MCL_inflation: 4.0
MCL_coverage: 0.0
clean: yes


## TEannot config (TEannot.cfg)

[repet_env]
repet_version: 3.0
repet_host: localhost
repet_user: orepet
repet_pw: repet_pw
repet_db: repet
repet_port: 3306
repet_job_manager: slurm

[project]
project_name: 
project_dir: /home/centos/

[prepare_data]
chunk_length: 200000
chunk_overlap: 10000
min_nb_seq_per_batch: 5
make_random_chunks: yes

[parallelized_jobs]
resources: mem_free=8G
tmpDir:
copy: no
clean: yes

[align_refTEs_with_genome]
BLR_blast: wu
BLR_sensitivity: 2
RM_engine: wu
RM_sensitivity: s
CEN_blast: wu

[filter]
force_default_values: no
BLR: 100
RM: 100
CEN: 100

[SSR_detect]
RMSSR_engine: wu
TRFmaxPeriod: 15

[align_other_banks]
bankBLRtx: repbase20.05_ntSeq_cleaned_TE.fsa
bankBLRx: repbase20.05_aaSeq_cleaned_TE.fsa

[annot_processing]
min_size: 20
do_join: yes
join_max_gap_size: 5000
join_max_mismatch_size: 500
join_id_tolerance: 2
join_TEinsert_cov: 0.95
join_overlap: 15
join_minlength_split: 100

[export]
sequences: chromosomes
add_SSRs: no
add_tBx: no
add_Bx: no
rmv_overlapping_annotations: no
keep_gff3_files_without_annotations: no
gff3_merge_redundant_features: yes
gff3_compulsory_match_part: yes
gff3_with_genomic_sequence: no
gff3_with_TE_length: yes
gff3_with_classif_info:yes
classif_table_name: {project name}_sim_consensus_classif
gff3_chado: no
drop_tables: no
